<h1 class="ljubicasti">Ko smo mi i šta možete očekivati na našoj stranici?</h1>


<p align="left">
Želimo da dobijete inspiraciju kako biste sami sebi olakšali planiranje, te istinski uživali u pripremama.<br>
Pogledajte slike vjenčanja, vidite li nešto interesantno?
Možete sebi olakšati odluke koje i sami uskoro morate donijeti.



</p>










<ul>
<li><a href="#"> Vjenčanice</a></li>
<li><a href="#"> Odjela</a></li>
<li><a href="#"> Cvijeće</a></li>
<li><a href="#"> Vjenčanja</a></li>
</ul>


<style>

.ljubicasti{

color: purple;
font-size:40px;
}
</style>