<h1>Pages#home</h1>

<div = class="row">
    <div class="col-xs-3">
    <div class="panel panel-default">
    <div class="panel-body">
    <p>prvo polje</p>
         </div>
      </div>
    </div>
<div class ="col-xs-6">
<div class="panel panel-default">
  <div class="panel-body">
  <p>drugo polje</p>
        </div>
    </div>
    </div>  
<div class="col-xs-3">
<div class="panel panel-default">
  <div class="panel-body">
  <p> trece polje </p>
        </div>
    </div>  
    </div>
    </div>
    <div = class="row">
    <div class="col-xs-3">
<div class="panel panel-default">
  <div class="panel-body">
  <p> dodatno polje </p>
        </div>
    </div>  
    </div>
    </div>