<center>
<h1 class="ljubicasti">Vjenčanja</h1>
<h1 id="ljubicasti">Dobro došli </h1>
</center>



<p align="center">
<img src="http://savrsenasvadba.com/wp-content/uploads/2016/07/bidermajer-od-kala.jpg"/></p>





<p class = "crni", align="center">     Želite biti inspirisani?   </p>
<ul>
<li><a href="#"> Vjenčanice</a></li>
<li><a href="#"> Odjela</a></li>
<li><a href="#"> Cvijeće</a></li>
</ul>



<style>

.ljubicasti{

color: purple;
font-size:60px;
}

#ljubicasti{

    color: purple;
font-size:50px;
}
.crni{
    color: black;
    font-size:30px;
}
img {
   
   width:500px;
   hight:10px;
    border:2px solid pink;
    margin-left:100px;
    

}
</style>












